In [894]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [895]:
# uploading a data set and checking if any of the values is missing
dataset = pd.read_csv('C:/Users/Anna/OneDrive/Desktop/Regression Project/Car-Price-Prediction/CarPrice_Assignment.csv')
dataset

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,202,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,203,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,204,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,205,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [896]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [897]:
# splitting the data frame into features *while removing some that have low corr with the target and what has to be predicted (price of the car)
X = dataset.drop(columns=['price'])
X_numerical_only = X.drop(columns=X.select_dtypes(include=['object']).columns.tolist())
X_cat_only = X.drop(columns=X.select_dtypes(include=['float64', 'int64']).columns.tolist())
y = dataset['price']

In [898]:
X_numerical_only

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg
0,1,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27
1,2,3,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111,5000,21,27
2,3,1,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154,5000,19,26
3,4,2,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102,5500,24,30
4,5,2,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115,5500,18,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,201,-1,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114,5400,23,28
201,202,-1,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160,5300,19,25
202,203,-1,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134,5500,18,23
203,204,-1,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106,4800,26,27
204,205,-1,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114,5400,19,25

In [899]:
X_cat_only

,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,enginetype,cylindernumber,fuelsystem
0,alfa-romero giulia,gas,std,two,convertible,rwd,front,dohc,four,mpfi
1,alfa-romero stelvio,gas,std,two,convertible,rwd,front,dohc,four,mpfi
2,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,ohcv,six,mpfi
3,audi 100 ls,gas,std,four,sedan,fwd,front,ohc,four,mpfi
4,audi 100ls,gas,std,four,sedan,4wd,front,ohc,five,mpfi
...,...,...,...,...,...,...,...,...,...,...
200,volvo 145e (sw),gas,std,four,sedan,rwd,front,ohc,four,mpfi
201,volvo 144ea,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi
202,volvo 244dl,gas,std,four,sedan,rwd,front,ohcv,six,mpfi
203,volvo 246,diesel,turbo,four,sedan,rwd,front,ohc,six,idi
204,volvo 264gl,gas,turbo,four,sedan,rwd,front,ohc,four,mpfi

In [900]:
target_correlations = dataset.corr()['price']
target_correlations

C:\Users\Anna\AppData\Local\Temp\ipykernel_14288\593388814.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  target_correlations = dataset.corr()['price']

car_ID             -0.109093
symboling          -0.079978
wheelbase           0.577816
carlength           0.682920
carwidth            0.759325
carheight           0.119336
curbweight          0.835305
enginesize          0.874145
boreratio           0.553173
stroke              0.079443
compressionratio    0.067984
horsepower          0.808139
peakrpm            -0.085267
citympg            -0.685751
highwaympg         -0.697599
price               1.000000
Name: price, dtype: float64

In [901]:
X_numerical_only = X_numerical_only.drop(columns=['car_ID', 'symboling', 'carheight', 'stroke', 'compressionratio', 'peakrpm'])
X_numerical_only

,wheelbase,carlength,carwidth,curbweight,enginesize,boreratio,horsepower,citympg,highwaympg
0,88.6,168.8,64.1,2548,130,3.47,111,21,27
1,88.6,168.8,64.1,2548,130,3.47,111,21,27
2,94.5,171.2,65.5,2823,152,2.68,154,19,26
3,99.8,176.6,66.2,2337,109,3.19,102,24,30
4,99.4,176.6,66.4,2824,136,3.19,115,18,22
...,...,...,...,...,...,...,...,...,...
200,109.1,188.8,68.9,2952,141,3.78,114,23,28
201,109.1,188.8,68.8,3049,141,3.78,160,19,25
202,109.1,188.8,68.9,3012,173,3.58,134,18,23
203,109.1,188.8,68.9,3217,145,3.01,106,26,27
204,109.1,188.8,68.9,3062,141,3.78,114,19,25

In [902]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), list(range(X_cat_only.shape[1])))], remainder='passthrough')
X_cat_only = ct.fit_transform(X_cat_only)
X_cat_only

<205x185 sparse matrix of type '<class 'numpy.float64'>'
	with 2050 stored elements in Compressed Sparse Row format>

In [903]:
X_cat_only = X_cat_only.toarray()
X_cat_only

array([[0., 0., 1., ..., 1., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 1., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 1., 0., 0.]])

In [904]:
X_cat_only = pd.DataFrame(X_cat_only)
X_cat_only

,0,1,2,3,4,5,6,7,8,9,...,175,176,177,178,179,180,181,182,183,184
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
204,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [905]:
X = pd.concat([X_cat_only, X_numerical_only], axis=1)

In [906]:
X = np.array(X)
y = np.array(y)
y = y.reshape(len(y), 1)

In [907]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=1)

In [908]:
X_train

array([[  0.,   0.,   0., ..., 160.,  19.,  25.],
       [  0.,   0.,   0., ...,  55.,  45.,  50.],
       [  0.,   0.,   0., ...,  94.,  25.,  31.],
       ...,
       [  0.,   0.,   0., ..., 155.,  16.,  18.],
       [  0.,   0.,   0., ...,  73.,  26.,  31.],
       [  0.,   0.,   0., ...,  86.,  27.,  33.]])

In [909]:
y_train

array([[18399.  ],
       [ 7099.  ],
       [10198.  ],
       [ 8195.  ],
       [ 7799.  ],
       [40960.  ],
       [ 6095.  ],
       [18150.  ],
       [13499.  ],
       [28176.  ],
       [11900.  ],
       [24565.  ],
       [ 9258.  ],
       [ 8845.  ],
       [ 6295.  ],
       [11248.  ],
       [ 8845.  ],
       [13860.  ],
       [ 8238.  ],
       [11845.  ],
       [10898.  ],
       [12764.  ],
       [15750.  ],
       [ 7898.  ],
       [ 6695.  ],
       [ 7299.  ],
       [ 9960.  ],
       [19699.  ],
       [11850.  ],
       [10345.  ],
       [36880.  ],
       [15250.  ],
       [ 5348.  ],
       [18950.  ],
       [35550.  ],
       [ 9298.  ],
       [18344.  ],
       [17075.  ],
       [ 7395.  ],
       [ 7349.  ],
       [ 7609.  ],
       [ 5499.  ],
       [11549.  ],
       [ 8921.  ],
       [20970.  ],
       [34028.  ],
       [14399.  ],
       [15985.  ],
       [ 7788.  ],
       [ 8949.  ],
       [ 8499.  ],
       [ 9995.  ],
       [12940.  ],
       [21105.  ],
       [12629.  ],
       [15998.  ],
       [ 7975.  ],
       [ 8916.5 ],
       [13200.  ],
       [ 7295.  ],
       [ 9538.  ],
       [13295.  ],
       [ 7898.  ],
       [16900.  ],
       [ 6918.  ],
       [21485.  ],
       [ 5572.  ],
       [18420.  ],
       [16503.  ],
       [ 5572.  ],
       [ 6649.  ],
       [ 8495.  ],
       [16500.  ],
       [31600.  ],
       [ 6989.  ],
       [ 8778.  ],
       [17710.  ],
       [ 8449.  ],
       [13495.  ],
       [ 7738.  ],
       [ 6189.  ],
       [16695.  ],
       [18280.  ],
       [10945.  ],
       [16845.  ],
       [ 9279.  ],
       [11595.  ],
       [11048.  ],
       [45400.  ],
       [ 6849.  ],
       [ 8013.  ],
       [ 9279.  ],
       [22470.  ],
       [16430.  ],
       [ 5399.  ],
       [14869.  ],
       [ 8358.  ],
       [ 9549.  ],
       [22018.  ],
       [ 7957.  ],
       [32528.  ],
       [17859.17],
       [ 9988.  ],
       [17199.  ],
       [ 9495.  ],
       [15510.  ],
       [15580.  ],
       [12290.  ],
       [11245.  ],
       [30760.  ],
       [12945.  ],
       [ 9639.  ],
       [12440.  ],
       [ 9959.  ],
       [ 6795.  ],
       [ 7609.  ],
       [ 5389.  ],
       [ 6785.  ],
       [ 6229.  ],
       [13950.  ],
       [10698.  ],
       [36000.  ],
       [11694.  ],
       [ 9895.  ],
       [13415.  ],
       [ 6479.  ],
       [ 6692.  ],
       [16630.  ],
       [15690.  ],
       [23875.  ],
       [ 8495.  ],
       [37028.  ],
       [16500.  ],
       [13645.  ],
       [ 6377.  ],
       [10595.  ],
       [10795.  ],
       [18920.  ],
       [19045.  ],
       [ 7126.  ],
       [ 8189.  ],
       [ 7499.  ],
       [28248.  ],
       [ 5195.  ],
       [ 7775.  ],
       [ 7198.  ],
       [ 6938.  ],
       [ 7053.  ],
       [ 7463.  ],
       [13499.  ],
       [ 6575.  ],
       [16558.  ],
       [ 6692.  ],
       [15040.  ],
       [34184.  ],
       [31400.5 ],
       [ 9233.  ],
       [13845.  ],
       [ 7689.  ],
       [12170.  ],
       [18620.  ],
       [35056.  ],
       [ 7603.  ],
       [ 7895.  ]])

In [910]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[:, 185:] = sc.fit_transform(X_train[:, 185:])
X_test[:, 185:] = sc.transform(X_test[:, 185:])

sc_y = StandardScaler()
y_train = sc_y.fit_transform(y_train)
y_test = sc_y.transform(y_test)

In [924]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators = 100, random_state = 0) # this is the number of trees
regressor.fit(X_train, y_train)

C:\Users\Anna\AppData\Local\Temp\ipykernel_14288\2092219651.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  regressor.fit(X_train, y_train)

RandomForestRegressor(random_state=0)

In [925]:
from sklearn.metrics import r2_score
y_pred = regressor.predict(X_test)
r2_score(y_test, y_pred)

0.9040494218801108